<form>
  <textarea id='user-message'></textarea>
  <button type='button' id='fetch-button'>Fetch Data</button>
  <textarea readonly id='response-container'>Type an NPC description and submit
    to generate an NPC!</textarea>
</form>