<form class='aga-dashboard'>
  {{#if (eq status 'ready')}}
    <div class='aga-response-container'>
      <textarea
        placeholder='Type an NPC description and generate!'
        id='aga-user-message'
      ></textarea>
      <button type='button' id='aga-submit'>Generate</button>
      <div class='aga-response-area'>Output will go here</div>
      <div class='aga-image-container'>
        <div class='aga-response-images'></div>
      </div>
      <button type='button' class='aga-create-npc'>Create NPC as Actor</button>
    </div>
  {{else if (eq status 'api_key_invalid')}}
    <h1>Invalid API Key</h1>
    <h3>
      Please visit the module settings to set your API key!
    </h3>
  {{else if (eq status 'error')}}
    <h1>Error</h1>
    <h3>
      An error occurred, please try again later
    </h3>
  {{/if}}
</form>