<form class='settings-form'>
  <label for='api-key'>{{apiKey}}</label>
  <input type='text' id='api-key' placeholder='API Key' />
  <button type='submit' id='save-api-key'>Save</button>
  <a
    href='https://www.buymeacoffee.com/benderthedev'
    target='_blank'
    rel='noreferrer'
  >Buy me a beer</a>
</form>